.header {
  background-color: var(--primary-color);
  height: 5vw;
  min-height: 40px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;
}

.logo {
  height: 70%;
}

@media screen and (min-width: 1000px) {
  .header {
    justify-content: flex-start;
  }
}